<footer class="footer">
    <div class="footer__content">
        <nav class="footer__menu">
            <p>Nina Bertl</p>
            <p>Dipl. Hara Shiatsu Praktikerin</p>
            <a href="tel:+436769696680">+43 676 969 66 80</a>
            <a href="mailto:harashiatsu@ninabertl.at">harashiatsu@ninabertl.at</a>
            <p>Ybbsstraße 24/22 </p>
            <p>1020 Wien</p>
        </nav>

        <img src="./images/footer.png"  class="footer__image" alt="Knee stretching">
    </div>

    <div class="copyright">
        <p>&copy; Nina Bertl, All rights reserved</p>
        <p>designed with love by <a href="#">Kokode</a></p>
        <p>code by <a href="#">codeQ WEB FACTORY</a></p>
    </div>
</footer>
