*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
  font-smoothing: always;
  font-family: $font-default;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding-top: 199px;
  background-color: #f2eeeb;

  @include media-max(1280px) {
    padding-top: 85px;
  }
}

section {
  width: 100%;
}

img {
  user-select: none;
}

a {
  color: $heavy;
  text-decoration: none;
}

.content {
  a {
    position: relative;
    transition: .2s color ease-in-out;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 0;
      border-bottom: 1px dotted;
      transition: .3s opacity ease-in-out;
    }

    &:before {
      border-bottom-width: 2px;
      opacity: 0;
    }

    &:hover {
      color: darken($heavy, 20%);
    }

    &:hover:after {
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}
