//project vars
$path-font: './fonts';
$path-img: './images';

// fonts
$font-default: "Montserrat", sans-serif;
$montserrat: "Roboto", sans-serif;

// colors
$grey-dark: #393939;
$grey-light: #f7f7f7;
$silent: #d5d5d5;
$dark: #1A1A18;

$danger: #c53838;
$success: #4e9c28;
$grey-light: #f9f8f3;
$grey: #b1b1b1;
$primary: #f9f8f3;
$heavy: #d59f55;
$white: #fff;
$black: #000;
//main
