<section class="hero-section">
    <div class="hero-section__content">
        <p class="hero-section__text content">
            Diplomierte <a href="./shiatsu.html" data-tooltip data-tooltip-content="Some kind of description">Hara-Shiatsu</a><br>
            Praktikerin und Reisebegleiterin<br>
            ins Hier und Jetzt
        </p>

        <h1 class="hero-section__title">
            Halt und Vitalität<br>
            fürs Leben
        </h1>
    </div>

    <img src="./images/face.png" srcset="./images/face.png 1x, ./images/face@2x.png 2x" class="hero-section__image" alt="Face massage">
</section>