.hero-section {
  width: 100%;
  height: calc(100vh + -32px);
  background: #f1eeec;
  padding: 68px 104px 75px 141px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  overflow: hidden;

  @include media-max(1480px) {
    padding-left: 81px;
    padding-right: 81px;
  }

  @include media-max(1366px) {
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(70vh - 30px);
    height: auto;
  }

  @include media-max(md) {
    min-height: 0;
    flex-direction: column;
  }

  @include media-max(580px) {
    padding-bottom: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    min-width: 39vw;

    @include media-max(md) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 200;
    margin-bottom: 0;
    letter-spacing: -.0083em;
    line-height: 1.02;
    font-size: rem(105);
    color: #4a4a4a;
    @include interpolate(font-size, sm, 1600px, 40px, 105px);
  }

  &__text {
    font-weight: 200;
    margin-top: 0;
    letter-spacing: .1444em;
    line-height: 1.3333;
    font-size: rem(32);
    @include interpolate(font-size, sm, 1600px, 20px, 32px);

    a:after, a:before {
      border-bottom-style: solid;
    }
  }

  &__image {
    height: auto;
    display: block;
    position: absolute;
    right: 10.9vw;
    bottom: 3.2vw;
    max-width: 45vw;

    @include media-max(1800px) {
      max-width: 43vw;
      right: 8vw;
    }

    @include media-max(1366px) {
      max-width: 33vw;
      right: 6vw;
    }

    @include media-max(md) {
      max-width: 30vw;
      right: 3vw;
      min-width: 200px;
    }

    @include media-max(580px) {
      right: 4vw;
      bottom: -24px;
    }
  }
}