<section class="hero-section">
    <div class="hero-section__content">
        <p class="hero-section__text content">
            Diplomierte <a href="#" data-tooltip data-tooltip-content="Some kind of description">Hara Shiatsu</a><br>
            Praktikerin und Reisebegleiterin<br>
            ins Hair und Jetzt
        </p>

        <h1 class="hero-section__title">
            Halt und Vitalitat<br>
            furs Leben
        </h1>
    </div>

    <img src="./images/nina-03.jpg" class="hero-section__image" alt="">
</section>