<section class="content-section">
    <div class="content-section__content content">
        <p>
            <strong>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto nulla possimus recusandae vitae
                voluptates? Expedita itaque quis sed tenetur? <br>
                Culpa, ducimus explicabo.
            </strong>
        </p>

        <p>
            <a href="#">A aliquam amet</a> culpa dicta distinctio dolorem doloribus ducimus error est et, exercitationem,
            expedita fugit
            illum laudantium magnam magni nisi nulla quas quidem reiciendis reprehenderit sunt tempora vel veniam
            voluptatibus.
        </p>

        <p>
            <a href="#">Atque culpa dolore perferendis</a> quis ratione! Aliquam aliquid animi, asperiores assumenda
            delectus dignissimos dolor doloremque doloribus illo in inventore iure labore laboriosam nostrum perspiciatis
            quia, sed sequi tempora totam voluptatem. A aliquam amet culpa dicta distinctio dolorem doloribus ducimus error
            est et, exercitationem, expedita fugit illum laudantium magnam magni nisi nulla quas quidem reiciendis
            reprehenderit sunt tempora vel veniam voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

        <p>
            Ad iusto nulla possimus recusandae vitae <a href="#">voluptates!</a>
        </p>

        <a href="#" class="btn-circle">
            Nina, <br>
            erzahl' mir mehr!
            <span class="icon-arrow"></span>
        </a>
    </div>

    <img src="./images/vase.png" srcset="./images/vase.png 1x, ./images/vase@2x.png 2x" class="content-section__image" alt="Vase with flower">
</section>