<section class="content-section content-section--is-grey">
    <div class="content-section__content content">
        <h1>Kontakt</h1>
        <p>
            Nina Bertl<br>Dipl. Hara Shiatsu-Praktikerin<br>+43 676 969 66 80<br> harashiatsu@ninabertl.at<br>Miesbachgasse 1/2
           <br> 1020 Wien
        </p>

        <h4>Kosten</h4>
        <p>
            1 Shiatsu-Behandlung (60 Minuten): € 70,–
        </p>

        <h4>Absageregelung</h4>
        <p>
            Wenn du deinen Termin nicht wahrnehmen kannst, melde dich bitte so früh wie möglich. Bei einer Absage
            innerhalb von 24 Stunden vor dem Termin oder bei Nichteinhaltung ganz ohne Benachrichtigung muss ich die
            Kosten in voller Höhe verrechnen.

        </p>
        <h4>Kostenrückerstattung</h4>
        <p>
            Teile der Behandlungskosten können bei einer Zusatz-Krankenversicherung rückerstattet werden. Wende dich
            diesbezüglich direkt an deine Versicherung.
        </p>

        <h4>Fördermöglichkeiten</h4>
        <p>
            Wenn Du bei der SVA versichert hast du die Möglichkeit, verschiedene gesundheitsfördernde Maßnahmen
            in Anspruch nehmen.
            Unter der Bezeichnung „SVA-Gesundheitshunderter” unterstützt die SVA die unterschiedlichsten Möglichkeiten,
            etwas für die eigene Gesundheit und das Wohlbefinden zu tun.
        </p>
        <h4>Betriebliche Gesundheitsvorsorge
        </h4>
        <p>
            Die Behandlung findet in deiner Arbeitskleidung in einem speziellen Shiatsu-Massage-Sessel statt und dauert
            25 bis 30 Minuten. Der Schwerpunkt liegt auf Rücken-, Nacken- und Schulterbeschwerden. Sessel-Shiatsu
            steigert das Körperbewusstsein, hilft bei Schmerzen und fördert die Konzentrations- und Leistungsfähigkeit.
            Shiatsu führt allgemein zu Entspannung und gibt wieder Kraft. <br>
            Auf Anfrage biete ich individuell abgestimmte Vorsorgepakete für Unternehmen an.
        </p>
        <h4>Shiatsu verschenken</h4>
        <p>
            Willst du deinen Freunden und Freundinnen oder Verwandten etwas Gutes tun? <br>Dann schenke ihnen
            Behandlungs-Gutscheine! Bestelle einfach per Mail an: <a href="mailto:harashiatsu@ninabertl.at">harashiatsu@ninabertl.at</a>
        </p>
        <p>Ich freue mich, von dir zu hören.</p>
    </div>

    <img src="./images/kontakt.png" class="content-section__image content-section__image--contact "
         alt="Vase with flower">
</section>