<section class="content-section">
    <div class="content-section__content content">
        <p>
            <strong>
                Was ist gerade los in deinem Leben? Ist dir etwas über die Leber gelaufen oder heute sauer aufgestoßen?
            </strong>
        </p>

        <p>
            <a href="./ueber-mich.html">Erzähl es mir,</a> denn hinter solchen Redewendungen steckt oft mehr, als wir annehmen. Intuitiv
            haben wir eine recht deutliche Ahnung, was sich hinter unseren Stimmungen verbirgt, und transportieren diese
            Last in aufschlussreichen Ausdrücken!

        </p>

        <p>
            <a href="./wirkung.html"> Gemeinsam </a> werden wir genau hinschauen, hinhorchen, hinfühlen,
            sodass du Unwesentliches erkennen oder überflüssigen Ballast abwerfen kannst, um deinen Weg entlastet und
            klarer fortzusetzen.
        </p>

        <p>
            So kannst du ganz in deinem Leben ankommen, das dir mit Halt und Vitalität die Hände reicht.
            Die richtige Zeit ist immer<a href="./contact.html"> jetzt!</a>
        </p>

        <a href="mailto:harashiatsu@ninabertl.at" class="btn-circle">
            Nina, <br>
            erzähl mir mehr!
            <span class="icon-arrow"></span>
        </a>
    </div>

    <img src="./images/vase.png" srcset="./images/vase.png 1x, ./images/vase@2x.png 2x" class="content-section__image"
         alt="Vase with flower">
</section>