<section class="content-section">
    <div class="content-section__content content">
        <p>
            <strong>
            Shiatsu ist eine eigenständige ganzheitliche Form der Körperarbeit, deren Ursprünge auf die jahrtausendalte
            traditionelle chinesische Medizin und die japanische Gesundheitslehre zurückgehen.
        </strong>
        </p>
        <p>
            „Shi“ bedeutet „Finger“, „atsu“ bedeutet „Druck“. Dieser Druck wird mit Fingern, Handballen, Ellenbogen,
            Knien oder Füßen ausgeübt. Auch durch Rotationen, Dehnungen und Hebeltechniken wird der Qi-Fluss – deine
            Lebensenergie – reguliert und wieder in Balance gebracht. <br>
            Die größten Potenziale von Shiatsu liegen in der Vorsorge; es dient vor allem der Aktivierung der
            Selbstheilungskräfte des Organismus und der Regeneration bei akuten und chronischen Leiden.
        </p>
        <p>
            <strong> Und was ist Hara Shiatsu?</strong> <br>
            „Hara“ bezeichnet die Körpermitte, wo Kraft und Lebensenergie ihren Ursprung haben. Als energetische Mitte
            spielt sie für jeden Menschen eine wichtige Rolle. Auch ich als Praktikerin arbeite aus dieser meiner Mitte
            heraus, mit achtsamer Aufmerksamkeit dort, wo Berührung Energie wieder in Fluss bringt. Hara Shiatsu bietet
            ein ganzheitliches Behandlungs- und Vorsorge-Konzept.
        </p>
        <p>
            Shiatsu arbeitet auf Basis der Philosophie von Yin und Yang, mit den fünf Elementen, den Meridianen und
            Akupressurpunkten. <br>
            Der ganzheitliche Aspekt hebt zwei Grenzen auf – einerseits die physische Grenze, um über das körperliche
            Symptom hinauszuschauen und den Menschen als Ganzes zu begreifen, andererseits die temporale Grenze, die
            nicht den Zeitraum einer Krankheit, vielmehr den langfristig gedachten Weg des Gesundwerdens anvisiert.
        </p>
    </div>

    <img src="./images/shiatsu.png"  class="content-section__image"
         alt="Vase with flower">
</section>