<section class="content-section">
    <div class="content-section__content content">
        <h4>Prävention</h4>
        <p>
            Shiatsu unterstützt den Organismus dabei, in Harmonie und Gleichgewicht
            zu bleiben, wodurch sich im Idealfall Krankheiten gar nicht erst manifestieren.
            Es ermöglicht tiefe Entspannung oder auch anregende Aktivierung.
        </p>

        <h4>Befindlichkeitsstörungen</h4>
        <p>
            Shiatsu lindert typische Befindlichkeitsstörungen wie z. B. Müdigkeit, Erschöpfung,
            Schlafprobleme, Kopfschmerzen, Migräne, depressive Verstimmung,
            Wetterfühligkeit oder Beschwerden des Bewegungsapparates.
        </p>

        <h4>Stärkung der Abwehrkraft</h4>
        <p>
            Shiatsu stärkt bei regelmäßiger Anwendung das Immunsystem
            sowie die Regenerationskraft des Körpers.
        </p>
        <h4>Wahrnehmung</h4>
        <p>
            Shiatsu hilft, den Körper und seine Signale wieder bewusster wahrzunehmen.
        </p>

        <h4>Unterstützung bei Veränderung</h4>
        <p>
            Shiatsu unterstützt bei Umstellungsprozessen der Lebenssituation
            und körperlichen wie seelischen Umbruchphasen.
        </p>
        <h4>Rehabilitation</h4>
        <p>
            Nach Unfällen oder Krankheiten kann Shiatsu (nach Absprache mit
            dem behandelnden Arzt) die Heilung und Wiederherstellung
            des Bewegungsapparates unterstützen.

        </p>
        <h4>Frauen</h4>
        <p>
            Shiatsu wirkt regulierend auf den Zyklus. Shiatsu ist auch während
            der Schwangerschaft und als Vorbereitung auf die Geburt geeignet.
            Shiatsu begleitet Frauen durch die Wechseljahre und führt sie zu
            Kraft, Stärke und Gelassenheit.
        </p>
        <h4>So läuft eine Behandlung bei mir ab</h4>
        <p>Die Behandlung findet in bequemer Kleidung (z. B. T-Shirt, lockere lange Baumwollhose und frische Socken) auf
            einer großen Matte in ruhiger Atmosphäre statt. Zuerst werden deine Anliegen, Wünsche und Beschwerden in
            einem Gespräch abgeklärt. Die Diagnose wird über das Hara, den Körper, das Gesicht und die Zunge erstellt.
            Ergänzend zur Shiatsu-Behandlung können Ingwerkompressen, Schröpfgefäße oder die Moxalampe zum Einsatz
            kommen. Fragen dazu beantworte ich dir gerne im Erstgespräch und im Rahmen der Behandlung.</p>
    </div>
    <img src="./images/wirkung.png"
         class="content-section__image content-section__image--wirkung"
         alt="Vase with flower">
</section>