<section class="content-section">
    <div class="content-section__content content">
        <h4>Prävention</h4>
        <p>
            Shiatsu unterstützt den Organismus dabei, in Harmonie und Gleichgewicht
            zu bleiben, wodurch sich im Idealfall Krankheiten gar nicht erst manifestieren.
            Es ermöglicht tiefe Entspannung oder auch anregende Aktivierung.
        </p>

        <h4>Befindlichkeitsstörungen</h4>
        <p>
            Shiatsu lindert typische Befindlichkeitsstörungen wie z. B. Müdigkeit, Erschöpfung,
            Schlafprobleme, Kopfschmerzen, Migräne, depressive Verstimmung,
            Wetterfühligkeit oder Beschwerden des Bewegungsapparates.
        </p>

        <h4>Stärkung der Abwehrkraft</h4>
        <p>
            Shiatsu stärkt bei regelmäßiger Anwendung das Immunsystem
            sowie die Regenerationskraft des Körpers.
        </p>
        <h4>Wahrnehmung</h4>
        <p>
            Shiatsu hilft, den Körper und seine Signale wieder bewusster wahrzunehmen.
        </p>

        <h4>Unterstützung bei Veränderung</h4>
        <p>
            Shiatsu unterstützt bei Umstellungsprozessen der Lebenssituation
            und körperlichen wie seelischen Umbruchphasen.
        </p>
        <h4>Rehabilitation</h4>
        <p>
            Nach Unfällen oder Krankheiten kann Shiatsu (nach Absprache mit
            dem behandelnden Arzt) die Heilung und Wiederherstellung
            des Bewegungsapparates unterstützen.

        </p>
        <h4>Frauen</h4>
        <p>
            Shiatsu wirkt regulierend auf den Zyklus. Shiatsu ist auch während
            der Schwangerschaft und als Vorbereitung auf die Geburt geeignet.
            Shiatsu begleitet Frauen durch die Wechseljahre und führt sie zu
            Kraft, Stärke und Gelassenheit.

        </p>


    </div>

    <img src="./images/wirkung.png"
         class="content-section__image content-section__image--wirkung"
         alt="Vase with flower">
</section>