<header class="header">
    <nav class="header__navigation">
        <a href="#" class="header__logo">
            <span class="header__logo-animation">
                <strong class="header__logo-word">
                    <i data-letter="N">N</i>
                    <i data-letter="I">I</i>
                    <i data-letter="N">N</i>
                    <i data-letter="A">A</i>
                </strong>

                <strong class="header__logo-word">
                    <i data-letter="B">B</i>
                    <i data-letter="E">E</i>
                    <i data-letter="R">R</i>
                    <i data-letter="T">T</i>
                    <i data-letter="L">L</i>
                </strong>
            </span>

            <span class="header__logo-underscore">
                <img src="./images/logo-underscore.svg" alt="underscore">
            </span>
        </a>

        <button class="header__menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="header__menu">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">GANZ MENSCH</a>
            </li>
            <li class="header__menu-item header__menu-item--active">
                <a href="#" class="header__menu-link">HARA SHIATSU</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">BEWUSST LEBEN</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">KONTAKT</a>
            </li>
        </ul>
    </nav>
</header>
